.banner {
  background-color: #cfe5ff;
  height: 540px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 80% bottom;
  background-size: 55%;
}

#hero {
  background-image: url("../public/images/img_home_top.png");
}

#bottomBanner {
  background-image: url("../public/images/img_home_bottom.png");
}
