.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

#features {
  padding-bottom: 138px;
}

.feature {
  padding: 138px 0;
  display: flex;
  align-items: center;
  gap: 5%;
}

.feature:nth-child(2) {
  text-align: right;
}

.feature-content {
  flex: 1;
  transition: text-align 0.3s ease;
}
